@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  vertical-align: baseline;
}
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  color: #595959;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: #29a56c;
}

li.hr span {
  width: 100%;
  height: 1px;
  background-color: #e4e4e4;
  margin: 20px 0;
  display: block;
}

/* common classes */

.fix {
  overflow: hidden;
}

main {
  display: block;
}
.svgInject {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  vertical-align: middle;
}
.hidden {
  display: none;
}
.opacity{
  opacity: 0;
}
.animate {
  transition: 0.3s ease;
}
.clear {
  clear: both;
}

.bg {
  background-position: center center;
  background-size: cover;
}
.div-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

a,
button,
img,
input,
span,
h4 {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a,
button {
  text-decoration: none;
  cursor: pointer;
}

/* *************************   HEADER   ********************** */
header {
  position: relative;
  height: 180px;
}

header .header-wrap {
  display: flex;
  height: 80px;
  align-items: center;
  margin: 10px;
}
header .header-wrap .logo {
  background: url(./assests/logo.svg) no-repeat center center;
  height: 80%;
  width: 160px;
  margin-left: 30px;
  margin-right: 100px;
}

header .header-wrap .header-right {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.search .input-wrapper {
  position: relative;
  display: inline-block;
}

.search .input-wrapper input[type="text"],
.search .input-wrapper select {
  height: 50px;
  border: 2px solid #bce3c9;
  border-radius: 5px;
}
.search .input-wrapper input[type="text"] {
  padding-left: 140px;
  padding-right: 10px;
  width: 700px;
}
input[type="text"]::placeholder {
  color: #333;
}
.search .input-wrapper select {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border: none;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  padding-left: 25px;
  cursor: pointer;
  font-weight: 700;
}

header .header-wrap .header-right .header-action {
  display: flex;
}
header .header-wrap .header-right .header-action .action-2 {
  padding: 0 10px;
}
header .header-wrap .header-right .header-action a {
  vertical-align: bottom;
  color: #595959;
}

header .header-wrap .header-right .header-action .action-2 .acc-drop {
  position: absolute;
  transform: translateY(1px) translateX(-40%);
  background-color: #ffffff;
  width: 160px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}
header .header-wrap .header-right .header-action .acc-drop ul {
  padding: 20px;
}
header .header-wrap .header-right .header-action .acc-drop ul li {
  padding: 10px;
}
header .header-wrap .header-right .header-action .acc-drop ul li a:hover {
  color: #29a56c;
}

.pro-count {
  position: absolute;
  background-color: #29a56c;
  padding: 2px 6px;
  font-size: 14px;
  color: white;
  border-radius: 50%;
  transform: translateX(-70%) translateY(-30%);
}

/* ******    HEADER BOTTOM   ********* */

.header-bottom {
  height: 70px;
  display: flex;
  align-items: center;
  border: 1px solid #e4e4e4;
}
.container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0 10px;
  overflow: hidden;
}
.header-nav {
  display: flex;
}
.header-nav .category-wrap {
  background-color: #29a56c;
  padding: 10px 20px;
  padding-right: 10px;
  margin: 0 40px 0 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}
.header-nav .category-wrap:hover {
  background-color: #1e724b;
}
.header-nav nav ul li {
  display: inline-block;
  padding: 10px 20px;
}
.header-nav nav ul li a {
  font-weight: 700;
}
.container .hotline {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  padding: 10px 30px;
  line-height: 15px;
}
.container .hotline img {
  margin-right: 10px;
}
.container .hotline p {
  color: #29a56c;
}
.container .hotline p span {
  color: #747474;
  font-size: 14px;
}

.styled-select {
  border-radius: 4px;
  background-color: #ffffff;
  position: relative;
  box-shadow: none;
}

.styled-select option {
  padding: 20px;
}

/* ***************** Mobile View *************** */
.mobile-header {
  width: 100vw;
  display: none;
  border-bottom: #59595946 1px solid;
}
.mobile-nav {
  height: 70px;
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav .logo {
  margin-top: 17px;
  height: 70px;
  width: 120px;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

/* Animation for the hamburger icon */
.hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mobile-icon {
  display: flex;
}
.mobile-icon .maction a img {
  margin: 5px;
}

/* *****************************   side bar ******************************** */

.side-bar {
  width: 400px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -400px;
  background-color: white;
  z-index: 100;
  transition: 0.3s ease;
}

.side-bar .side-bar-top {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: #59595946 1px solid;
}

.side-bar .side-bar-top .logo {
  width: 140px;
  cursor: pointer;
}

.side-bar .side-bar-top .undo-sidebar {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #7474743b;
  cursor: pointer;
}
.side-bar .side-bar-top .undo-sidebar span {
  position: absolute;
  display: block;
  background: #333;
  width: 15px;
  height: 2px;
  margin: 5px;
  cursor: pointer;
}
.side-bar .side-bar-top .undo-sidebar span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}
.side-bar .side-bar-top .undo-sidebar span:nth-child(2) {
  transform: translateY(6px) rotate(-45deg);
}

.search .input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper input[type="text"],
.input-wrapper select {
  height: 50px;
  padding: 5px;
  border: 2px solid #bce3c9;
  border-radius: 5px;
}
.input-wrapper input[type="text"] {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
input[type="text"]::placeholder {
  color: #333;
}

.mobile-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 50px;
}

.mobile-navigation {
  padding-top: 10px;
}
.mobile-navigation .nav-link {
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: #59595946 1px solid;
}
.mobile-navigation .nav-link a {
  padding: 10px;
}
.side-bottom {
  margin-top: 30px;
  border: #59595946 1px solid;
  border-radius: 2px;
}
.side-bottom li {
  padding: 20px 20px 0px 20px;
}
.side-bottom li a {
  font-size: 14px;
}
.side-bottom li:nth-child(3) {
  padding-bottom: 20px;
}
.side-bottom li img {
  width: 20px;
  margin-right: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

























/* ********************************   General styles ******************************  */
.main-container {
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100vw;
    color: #595959;
}

.col-1 section,
.col-2 section {
    box-shadow: 5px 5px 5px rgba(76, 76, 76, 0.06);
    border-radius: 5px;
    margin: 0 20px;
}

.col-1 .category h3 {
    font-size: 30px;
    padding: 20px 0;
    margin: 0 20px;
    border-bottom: 1px solid #59595946;
}

.row .col-1 ul {
    padding: 5px 20px;
}

.row .col-1 .category-li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    border: 1px solid #59595915;
    padding: 13px 7px;
}

.row .col-1 .category-li a {
    font-weight: 500;
    padding-right: 50px;
}

.col-2 {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slideleft {
  left: -1242px;
}
.col-2 .banner1 {
  position: absolute;
  height: 650px;
  width: 96%;
  background: url(assests/banner/banner1.jpg) no-repeat;
  background-size: cover;
  border-radius: 5px;
  transition: .7s ease;
}

.textover {
  position: absolute;
  font-size: 80px;
  font-weight: 700;
  top: 15%;
  left: 10%;
}

.textover span{
  font-size: 30px;
  font-weight: 500;
}

.textover input{
  height: 70px;
  border: none;
}



.textover input[type = "text"]{
  width: 300px;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


.textover input[type = "submit"]{
  padding: 0 30px;
  color: white;
  background: #29a56c;
  font-weight: 700;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.banner2 .textover input[type = "submit"]{
  border-radius: 10px;
}
.textover input[type = "submit"]:hover{
  background-color: #1e724b;
}

.col-2 .banner2 {
  height: 650px;
  width: 100%;
  background: url(assests/banner/banner2.jpg) no-repeat;
  background-size: cover;
  border-radius: 5px;
  transition: .7s ease;
}

.col-2 .arrow {
  position: absolute;
  top: 300px;
}

.col-2 .arrow{
  position: absolute;
  border-radius: 50%;
  padding: 20px 23px;
  background-color: #e4e4e4;
  cursor: pointer;
}
.col-2 .arrow:hover {
  background-color: #29a56c;
  color: white;
}
.col-2 .left{
  left: 30px;
}
.col-2 .right {
  right: 60px;
}



















.product-grid {
  display: flex;
  margin: 100px 30px;
}

.pr-col-1 {
  height: 100px;
  width: 280px;
  background-color: #1e724b;
  margin-right: 30px;
}

/* CSS for larger screens */
.pr-col-2 {
  width: 100%;
}

.grid-row {
  display: flex;
  margin-bottom: 30px;
}

.card {
  width: 219px;
  height: 350px;
  border: 1px solid #59595920;
  margin-right: 30px;
  border-radius: 5px;
  transition: .2s ease;
}

.card:hover {
  box-shadow: #59595920 5px 5px 5px;
  border: 1px solid #29a56b97;
}

.card .card-img img {
  width: 100%;
  max-height: 220px;
  padding: 20px;
}

.card .card-info {
  margin: 20px;
}

.card .card-info .card-name {
  font-size: 24px;
  font-weight: 700;
  color: #595959;
}

.card .card-info .card-name span {
  font-size: 14px;
  color: #1e724b;
  font-weight: 500;
}

.card .card-info .card-bottom {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.card .card-info .card-bottom .card-price {
  font-weight: 900;
  color: #29a56c;
  font-size: 18px;
}

.card .card-info .card-bottom .card-price span {
  color: #59595975;
  font-size: 13px;
}

.card .card-info .card-bottom .card-add {
  background-color: #29a56c;
  padding: 10px 20px;
  color: white;
  font-weight: 700;
}

.card .card-info .card-bottom .card-add:hover {
  background-color: #1e724b;
}

































/*  FOOTER*/


button {
  appearance: none;
  border: 0;
  background: transparent;
}
.flex {
  display: flex;
}

.footer_inner {
  margin-top: 50px;
  backdrop-filter: blur(50px);
  border: 0.1px solid #59595946;
  border-radius: 5px;
  padding: 2rem;
  margin: 1rem 0;
  width: 100vw;
}
.footer {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 80vh;
}
.footer-container {
  width: 100vw;
  padding: 0 1rem;
}

footer form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(100%, 400px);
  border-bottom: 1px solid black;
}

footer form input {
  padding: 0.75rem 0;
  border: none;
  background: none;
  font-weight: 500;
  transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 0;
  width: 100%;
  font-size: 1.05rem;
  font-weight: bolder;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: black;
}
@media screen and (max-width: 675px) {
  .layout {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  header {
    height: 100px;
  }
  .row {
    flex-direction: column;
  }
  .col-2{
    order: -1;
    margin-top: 0;
    height: 300px;
    font-size: .7rem;
  }
  .textover {
    font-size: 30px;
  }
  .col-2 .banner1{
    height: 100%;
  }
  .textover span{
    font-size: 15px;
  }
  .textover input{
    margin-top: 40px;
    height: 60px;
  }
  .textover input[type = "text"]{
    width: 200px;
  }





  .w-50 {
    width: 50%;
  }
  .w-25 {
    width: 25%;
  }
  
  .product-grid{
    flex-direction: column;
    width: 90vw;
    margin-top: 30px;
  }
  .grid-row {
    flex-wrap: wrap;
  }
  .pr-col-1{
    width: calc(100% - 15px);
    margin-bottom: 30px;
    order: 1;
  }

  
  .card {
    width: calc(50% - 15px); /* Adjust margin between cards */
    margin-right: 15px;
    margin-bottom: 30px;
  }

  .card:last-child{
    display: none;
  }
  
  .grid-row:last-child{
    margin-bottom: 0;
  
  }
  form {
    position: relative;
  }
  svg {
    margin: 0.5rem;
  }
  .c-2 {
    margin-top: 3.5rem;
  }
  .footer_copyright {
    color: white;
  }
}




@media (max-width: 1024px) {
  .header-desktop {
    display: none;
  }
  .mobile-header {
    display: block;
  }
}
